.pio
**/.vscode/c_cpp_properties.json
**/.vscode/launch.json
.DS_Store
platformio-local.ini
**/*-backups
fp-info-cache
\#auto_saved_files\#
*.kicad_sch-bak
firmware.elf
*_autosave-*.kicad_sch
fab.zip
fab
