.pio
**/.vscode/c_cpp_properties.json
**/.vscode/launch.json
.DS_Store
platformio-local.ini
**/*-backups
fp-info-cache
\#auto_saved_files\#
*.kicad_sch-bak
firmware.elf
*_autosave-*.kicad_sch
fab.zip
fab
*.bak
*.~lock.*
greenhouse-control-unit.xml
firmware/greenhouse-control-unit/lib/shared/
firmware/greenhouse-node/lib/shared/
firmware/greenhouse-node-test/lib/shared/
firmware/greenhouse-legacy-hub/lib/shared/
firmware/greenhouse-cu-test/lib/shared/
firmware/greenhouse-control-unit/lib/shared
firmware/greenhouse-legacy-hub/lib/shared
