#pragma once

#define BLYNK_PRINT Serial
#define BLYNK_TEMPLATE_ID "Template ID" // Device -> Device info
#define BLYNK_DEVICE_NAME "Device name"

const char k_auth[] = "Auth token"; // Device -> Device info
const char k_ssid[] = "WiFi SSID";
const char k_pass[] = "WiFi password";

const bool k_trace;
