#pragma once

#define BLYNK_PRINT Serial
#define BLYNK_TEMPLATE_ID "Template ID" // Device -> Device info
#define BLYNK_DEVICE_NAME "Device name"

const char auth[] = "Auth token"; // Device -> Device info
const char ssid[] = "WiFi SSID";
const char pass[] = "WiFi password";
